*
{
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: 'Montserrat', sans-serif;
}


@media all and (max-device-width: 1440px)
{
	#mainheader
	{
		height: 88px;
		background-color: #003e5c;
		color: #fff;
	}

	#menu
	{
		max-width: 800px;
		margin: 0 auto;
	}

	#logo
	{
		float: left;
	}

	#menu ul li
	{
		display: block;
		float: right;
		padding-left: 20px;
		padding-top: 40px;
		font-size: 16px;
	}

	#searchpan
	{
		padding-right: 15px;
		padding-top: 30px;
		position: absolute;
		right: 10px;
	}

	#searchfield
	{
		display: none;
	}

	.icon-search-1
	{
		font-size: 26px;
		cursor: pointer;
	}

	input[type="submit"]
	{
		margin-left: 10px;
		width: 25px;
		border: 1px solid gray;
		border-radius: 1px;
		background-color: #003e5c;
		color: white;
		font-size: 12px;
		font-weight: 900;
		cursor: pointer;
	}
	#sidebar
	{
		float: left;
		position: absolute;
		height: 1399px;
		padding-top: 90px;
		box-shadow: 4px 0px 2px 0px rgba(47,74,87,0.34);
		background-color: white;
		color: #013a5c;
		z-index: 1;
	}

	#sidebar p, .panmenu
	{
		font-size: 16px;
		border-bottom: 3px dotted #456f87;
		padding-bottom: 10px;
	}

	#sidebar ul li
	{
		list-style-type: none;
		padding-bottom: 10px;
	}

	#sidebar ul li:first-child
	{
		padding-top: 10px;
	}

	#subsidebar
	{
		padding-left: 40px;
		padding-right: 20px;
		float: left;
	}
	
	#menu a
	{
		text-decoration: none;
		color: #fff;
	}

	.panmenu a
	{
		text-decoration: none;
		color: #013a5c;
	}

	#sidebar p.social
	{
		border: none;
		font-size: 30px;
		color: #013a5c;
		text-align: left;
		font-weight: 900;
	}
	
	#sidebar p.social.f
	{
		padding-top: 20px;
	}
	
	#sidebar p.social a
	{
		text-decoration: none;
		color: #013a5c;
	}

	#title
	{	
		text-align: center;
		vertical-align: middle;
		float: left;
		width: 15px;
		padding-top: 300px;
		font-size: 30px; 
		color: #7a9aa8;
		padding-right: 5px;
	}

	#toggleicon
	{
		margin-left: -12px;
		cursor: pointer;
	}

	#content
	{
		width: 800px;
		padding: 0 40px;
		margin: 0 auto;
	}

	#header
	{
		position: relative;
		color: #013a5c;
		padding-bottom: 45px;
		border-bottom: 3px dotted #003e5c;
	}

	#header .logoimg
	{
		width: 200px;
		position: absolute;
		top: -88px;
		left: 0px;
		box-shadow: 3px 5px 4px 0px rgba(47,74,87,0.34);
	}

	#header p img
	{
		width: 60px;
		vertical-align: middle;
		padding-right: 20px;
	}

	#header p
	{
		padding-top: 96px;
		text-align: center;
		font-size: 22px;
	}

	p.title
	{
		padding-top: 55px;
		padding-bottom: 25px;
	}

	#columns
	{
		color: #373749;
		text-align: justify;
		column-count: 2;
		column-gap: 35px;
		padding-bottom: 88px;
	}

	#columns img
	{
		width: 385px;
	}

	#columns p
	{
		padding-top: 30px;
		text-transform: uppercase;
	}

	#footer
	{
		position: relative;
		height: 68px;
		background-color: #003e5c;	
		z-index: 2;	
	}
}

@media all and (min-device-width: 1441px)
{
	#mainheader
	{
		height: 88px;
		background-color: #003e5c;
		color: #fff;
	}
	
	#menu
	{
		max-width: 1000px;
		margin: 0 auto;
	}
	
	#logo
	{
		float: left;
	}
	
	#menu ul li
	{
		display: block;
		float: right;
		padding-left: 30px;
		padding-top: 40px;
		font-size: 19px;
	}
	
	#searchpan
	{
		padding-right: 15px;
		padding-top: 30px;
		position: absolute;
		right: 10px;
	}
	
	#searchfield
	{
		display: none;
	}
	
	.icon-search-1
	{
		font-size: 36px;
		cursor: pointer;
	}
	
	input[type="submit"]
	{
		margin-left: 10px;
		width: 25px;
		border: 1px solid gray;
		border-radius: 2px;
		background-color: #003e5c;
		color: white;
		font-size: 15px;
		font-weight: 900;
		cursor: pointer;
	}
	#sidebar
	{
		float: left;
		position: absolute;
		height: 1294px;
		padding-top: 90px;
		box-shadow: 4px 0px 2px 0px rgba(47,74,87,0.34);
		background-color: white;
		z-index: 1;
	}
	
	#menu a
	{
		text-decoration: none;
		color: #fff;
	}

	.panmenu a
	{
		text-decoration: none;
		color: #313748;
	}
	
	#sidebar p.social
	{
		border: none;
		font-size: 36px;
		color: #013a5c;
		text-align: left;
		font-weight: 900;
	}
	
	#sidebar p.social.f
	{
		padding-top: 20px;
	}
	
	#sidebar p.social a
	{
		text-decoration: none;
		color: #013a5c;
	}
	
	#sidebar p, .panmenu
	{
		font-size: 19px;
		border-bottom: 3px dotted #456f87;
		padding-bottom: 10px;
	}
	
	#sidebar ul li
	{
		list-style-type: none;
		padding-bottom: 10px;
	}
	
	#sidebar ul li:first-child
	{
		padding-top: 10px;
	}
	
	#subsidebar
	{
		padding-left: 40px;
		padding-right: 20px;
		float: left;
	}
	
	#title
	{	
		text-align: center;
		vertical-align: middle;
		float: left;
		width: 15px;
		padding-top: 300px;
		font-size: 36px;
		color: #7a9aa8;
		padding-right: 10px;
	}
	
	#toggleicon
	{
		margin-left: -12px;
		cursor: pointer;
	}
	
	#content
	{
		width: 1000px;
		padding: 0 40px;
		margin: 0 auto;
	}
	
	#header
	{
		position: relative;
		color: #003e5c;
		padding-bottom: 45px;
		border-bottom: 3px dotted #003e5c;
	}
	
	#header .logoimg
	{
		position: absolute;
		top: -88px;
		left: 0px;
		box-shadow: 3px 5px 4px 0px rgba(47,74,87,0.34);
	}
	
	#header p img
	{
		vertical-align: middle;
		padding-right: 20px;
	}
	
	#header p
	{
		padding-top: 96px;
		text-align: center;
		font-size: 29px;
	}
	
	p.title
	{
		padding-top: 55px;
		padding-bottom: 25px;
	}
	
	#columns
	{
		color: #373749;
		text-align: justify;
		column-count: 2;
		column-gap: 35px;
		padding-bottom: 88px;
	}
	
	#columns p
	{
		padding-top: 30px;
		text-transform: uppercase;
	}
	
	#footer
	{
		position: relative;
		height: 68px;
		background-color: #003e5c;
		z-index: 2;
	}
}
